/* Add this to your global CSS or a relevant stylesheet */
.fade-enter {
    opacity: 0;
  }
  
  .fade-enter-active {
    opacity: 1;
    transition: opacity 400ms; /* Match the timeout value in CSSTransition */
  }
  
  .fade-exit {
    display: none;
    opacity: 1;
  }
  
  .fade-exit-active {
    opacity: 0;
    transition: opacity 400ms; /* Match the timeout value in CSSTransition */
  }
  